<h1> Welcome to Stock Tracker</h1>
<p>Your Personal Finance Tracking Solution</p>
<p>Start managing your finances with ease. Track stock, analyze trends, and achieve your financial goals.</p>

<%# <%= link_to 'Sign Out', destroy_user_session_path, data: {turbo_method: :delete }  %> 
